.blog-card {
  background-color: #5C6370;
  border-radius: 12px;
  padding: 1rem;
  margin-bottom: 2rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.2s ease;
}

.blog-card * {
  margin: 0
}

a {
  color: #4ea1ff;
  text-decoration: none;
}

.blog-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

body {
  font-family: system-ui, sans-serif;
  line-height: 1.6;
  color: white;
  background-color: #282C34;
  /* color: #ffffff; */
}

.discord-button {
  display: inline-flex;
  align-items: center;
  background-color: #5865F2;
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 12px 20px;
  border-radius: 8px;
  transition: background-color 0.2s ease;
  font-family: sans-serif;
}

.discord-button:hover {
  background-color: #4752c4;
}

.discord-button img {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  filter: brightness(0) invert(1);
}

.button-row {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 20px;
}
